:root {
	--primary-color: #302AE6;
	--secondary-color: #536390;
	--font-color: #424242;
	--bg-color: #FBE9D0;
	--heading-color: #292922;
}

@font-face {
	font-family: "Quicksand";
	src: url(../Quicksand.ttf) format("truetype");
}

body {
	font-family: Quicksand;
	background-color: var(--bg-color);
	color: var(--font-color);
	max-width: 90%;
	margin: 0 auto;
	font-size: 18px;
}

h1 {
	color: var(--heading-color);
	font-size: 2rem;
}

#headerL {
	float: left;

}

#brlarge {
	display: block;
	margin-bottom: 6em;
}

#titlep {
	display: block;
	margin-top: 4em;
}

#headerR {
	float: right;

}